.site-header {
	background-color: $grey;
	@extend .menu--dropdown;
}

.site-branding {
	.site-logo {
		max-width: 100px;
		padding: 10px 0;
		text-align: center;
	}
}
.hidden-search, #search-toggle {
	display: none;
}