#masthead {
	@extend .menu--dropdown;
	.container {
		max-width: $container-width_medium;
		.site-branding {
			.site-logo {
				text-align: center;
			}
		}
		.hidden-search, #search-toggle {
			display: none;
		}
	}
}