.menu {
	// The default is basically a list
	
	// Remove bullets, or it's just a list FFS
	padding: 0;
	list-style-type: none;
	li {
		text-align: center;
	}

}

%top-level-only {
	// Remove submenus
	// Remove sub-menu indication icons
}

%multilevel {
	// Show submenus
}

%dropdown {
	// Hide submenus
	// Show indication icons
}
