img {

	&.avatar {
		width: auto;
	}

}

/* Image Captions */

.wp-caption {
	margin-bottom: 1rem;
	
	a {display: block;}

	img[class*="wp-image-"] {
		margin-bottom: 0;
	}

	p.wp-caption-text {
		@extend .meta !optional;
		color: rgba(0, 0, 0, 0.5); 
		margin: .5em 0;
		text-align: left;
		font-style: italic;
	}
}



.wp-smiley { 
	max-height: 1em;
	margin:0 !important;
}

.gallery dl {
	margin: 0;
}

.gallery-caption {
	margin:-1.5em 0 0 0;
}

/* Account for wp-admin bar */
body.admin-bar {
  	.site-header, #content {
  		top: 28px;
  	}
}