// Widget Area

#widget-area {
	@include clearfix;
	& > .container {
		padding: 0;
	}

	.widget-container {

		.widget {
			@extend .section;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			@include breakpoint( $tablet ) {
				border-bottom: none;
			}
			ul {
				@extend %no-bullets;
				padding-bottom: 1rem;
			}
			li {
				padding: 0;
				a {
					padding: 1rem;
				}
			}
			.widget-title {
				margin-bottom: 0;
				padding: 1rem;
			}
		}
	}


	@include breakpoint($tablet) {

		li {
			padding-bottom: 0;
		}
		h4 {
			font-size: 1.6em;
		}
		&.two {
			.widget-container {
				@include grid-span(12, 1);
			}
			.widget-container + .widget-container {
				@include grid-span(12, 13);
			}
		}
		&.three {
			.widget-container {
				@include grid-span(8, 1);
			}
			.widget-container + .widget-container {
				@include grid-span(8, 9);
			}
			.widget-container + .widget-container + .widget-container {
				@include grid-span(8, 17);
			}
		}
	}

	.menu {
		text-align: center;
		@include breakpoint( $tablet ) {
			text-align: left;
		}
		li {
			display: block;
			@include breakpoint( $tablet ) {
				text-align: left;
				margin: 0;
				padding: 0;
			}
			a {
				@include breakpoint( $tablet ) {
					display: inline;
					padding: 0;
				}
			}
		}
	}

}

