/* ==========================================================================
Layout
========================================================================== */

html, 
body,
#page {
	height: 100%; /* Important for sticky footer */
}

.section {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	@include bp($tablet) {
		padding-top: $section-padding-top;
		padding-left: $section-padding-left;
		padding-right: $section-padding-right;
		&:last-of-type {
			padding-bottom: $section-padding-bottom;
		}
		&__background {
			// To be added if the section has a different background
			// to the surrounding secions.
			padding-bottom: $section-padding-bottom;
		}
	}
	&.section-minor {
		// These sections don't have the default padding
		padding: 0;
		&:first-of-type {
			padding-top: 3rem;
		}
		&:last-of-type {
			padding-bottom: 3rem;
		}

		margin: 0;
		// Set explicit margins to avoid browser defaults
		& + * {
			margin-top: 1em;
			// Add a margin to any adjacent element 
		}
	}
}

.container {
	
	position: relative; // Allow absolute positioning of elements
	max-width: $container-width;
	padding: $container-padding-top-bottom $container-padding-left-right;

	// @include clearfix; // Likely to contain floated elements i.e. columns

	@include bp( $tablet ) {
		
		padding: 0;
		// Remove padding because... TODO

		margin: 0 auto 2rem auto; 
		// Center the container on the page.
		// Separate from any subsequent .container elements

		&:last-of-type {
			margin-bottom: 0;
			// Remove the margin from the last element
		}
	}

	.section-minor > & {
		padding: 0;
	}
	.gallery_wide > & {
		padding: 0;
	}

	&.container_medium {
		@include bp( $tablet ) {
			max-width: $container-width_medium;
		}
	}
	&.container_narrow {
		@include bp( $tablet ) {
			max-width: $container-width_narrow;
		}
	}
}

%container {
	@extend .container; // TODO remove class, just use extend
	&--wide {		
		@include bp( $tablet ) {
			max-width: $container-width_wide;
		}
	}
	&--medium {
		@include bp( $tablet ) {
			max-width: $container-width_medium;
		}
	}
	&--narrow {
		@include bp( $tablet ) {
			max-width: $container-width_narrow;
		}
	}
}

/* Sidebars */


.right-sidebar, 
.left-sidebar {
	#content {
		width: 100%;
		padding: 0;
		margin: 0 auto;
		@include bp($tablet) {
			padding-top: $section-padding-top;
			padding-bottom: $section-padding-bottom;
			padding-left: $section-padding-left;
			padding-right: $section-padding-right;
		}
	}
	#main {
		@include bp( $tablet ) {
			max-width: $container-width;
						margin: 0 auto;
			@include clearfix;
		}
	}

}
.right-sidebar {	
	#primary, #post-header {
	
	}
	#secondary {

	}
}


/* Menu */

ul.nav-menu li a {
	padding: 5px $side-padding;
	
}

/* Search */

input[type="search"] {
	background-repeat: repeat;
	border-width: 0;
	padding: 1em;
	margin-bottom: 1rem;
}

a#search-toggle {
	float: left;
}

/* Right sidebar */

.media_block {
	@include clearfix;
	.media_block-text {
		width: 100%;
		@include bp($tablet) {

		}

	}
	.media_block-image {
		text-align: center;
		@include bp($tablet) {

		}
		img {
			margin-bottom: 1em;
			max-width: 66px;
		}
	}
}