/* ==========================================================================
   Layout
   ========================================================================== */

html, 
body {
   min-height: 100%; 

}

/* Menu */

ul.nav-menu li a {
   padding: 5px $side-padding;
}

// Placeholders

::-webkit-input-placeholder {color:       $color-placeholder;}
::-moz-placeholder {color:                $color-placeholder;}
:-moz-placeholder {color:                 $color-placeholder;}
:-ms-input-placeholder {color:            $color-placeholder;}

.archive.tax-type .cover {
   padding-bottom: 3em;
}

.home #main-navigation-menu ul,
.home #search-toggle {
   z-index: 2;
}

.home #main-navigation-menu > ul {
   position: relative;
}