.gallery {
  @include bp($mobile-horizontal) {
    display:         grid;
    gap:             $grid-row-gap $grid-column-gap;
  }
  &--images-1 {
    @include bp($mobile-horizontal) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &--images-2 {
    @include bp($mobile-horizontal) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &--images-3 {
    @include bp($mobile-horizontal) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &--images-4 {
    @include bp($mobile-horizontal) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include bp($tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  a {
    border-bottom: none;
    display: block;
    text-align: center;
    img {
      margin: 0 auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      @include transition(all, 0.3s, ease-in-out);
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
}
