.gallery {
	@extend .section;
	&__container {
		@extend %container;
		@extend %container--wide;
		@media (min-width: $mobile-horizontal){
			display: grid;
			grid-auto-flow: row;
			align-items: start;
			grid-column-gap: $grid-column-gap;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, auto);
		}
	}
	// Number of images is added as class
	// Not sure if this is needed now
	&__images_1 {}
	&__images_2 {}
	&__images_3 {}

	a {
		border-bottom: none;
		display: block;
		text-align: center;
		img {
			margin: 0 auto;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			@include transition(all, 0.3s, ease-in-out);
		}
		&:hover {
			img {
				-webkit-filter: grayscale(0%);
				filter: grayscale(0%);
			}
		}
	}
}