// Layouts

@import "base";
@import "base1";
@import "footer";
@import "gallery";

// Masthead
@import "masthead/masthead-base";
@import "masthead/masthead-standard";
@import "masthead/masthead-search"; // Add a search form to the masthead

@import "image-grid";
@import "masonry";
@import "media-object";
@import "preheader";
@import "two-cols";