// Layouts

@import "base";
@import "base1";
@import "footer";
@import "gallery";
@import "grids";

// Masthead
@import "masthead/masthead-base";
@import "masthead/masthead-standard";
@import "masthead/masthead-search";
@import "masthead/masthead-headhesive";
@import "masthead/mburger";

@import "image-grid";
@import "masonry";
@import "post";
@import "preheader";

// LAYOUT @extends

// Wrapper for a list of posts
%posts-list-wrapper {
  display: grid;
  gap: $grid-row-gap $grid-column-gap;
  @include bp($mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp($tablet-horizontal) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.posts--1 {
  @include bp($mobile-horizontal) {
    grid-template-columns: 1fr;
  }
}

.posts--2 {
  @include bp($mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.posts--3 {
  @include bp($mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp($tablet-horizontal) {
    grid-template-columns: repeat(3, 1fr);
  }
}