# =========================
# Various
# =========================
node_modules
bower_components
.sass-cache
import
export
scripts
release

# =========================
# VVV provisioning
# =========================

provision/vvv-nginx.conf

# =========================
# WordPress 
# =========================

*.log

# Ignore everything in the "htdocs" directory except the "wp-content" directory.
htdocs/*
!htdocs/wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
htdocs/wp-content/*
!htdocs/wp-content/plugins/
!htdocs/wp-content/themes/
!htdocs/wp-content/mu-plugins/
 
# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
htdocs/wp-content/plugins/*
# !htdocs/wp-content/plugins/my-single-file-plugin.php
!htdocs/wp-content/plugins/mbd-wp-theme-custom-functions/

# Ignore everything in the "mu-plugins" directory, except the mu-plugins you
# specify (see the commented-out examples for hints on how to do this.)
htdocs/wp-content/mu-plugins/*
# !htdocs/wp-content/mu-plugins/my-single-file-plugin.php
# !htdocs/wp-content/mu-plugins/my-directory-plugin/
 
# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
htdocs/wp-content/themes/*
!htdocs/wp-content/themes/mbd-wp-theme/
htdocs/wp-content/themes/mbd-wp-theme/style.css

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.map

# Misc
*.zip
*.tar
*.gz
*.sql
*.sublime-workspace