// Extends

%grid-base {
   @include bp($tablet){
      display: grid;
      grid-template-columns: $basic-grid-cols;
      gap: 1rem;
   }
}
%grid-base-full {
   @include bp($tablet){
      display: grid;
      grid-template-columns: $basic-grid-cols;
      gap: 1rem;
   }
}
%grid-base-no-bp {
   display: grid;
   grid-template-columns: $basic-grid-cols;
   gap: 1rem;
}
%grid-ass {
   @include bp($tablet){
      display: grid;
      grid-template-columns: $ass-grid-cols;
      gap: 10px;
   }
}
%headers {
	font-family: $alt-font-stack;
	line-height: 1.3em;
	font-weight: normal;
	// Set explicit margins to avoid browser defaults
   margin: 0 0 1.3em 0;
   color: $color-primary;
   letter-spacing: 0.2em;
}
%sub-headers {
   @extend %headers;
   color: $color-complement;
}
%typo-alt {
   font-family: $alt-font-stack;
   text-transform: uppercase;
   letter-spacing: 2px;
}
%input {
   @extend %typo-alt;
   backdrop-filter: blur(3px);
}

%kvp-grad-yellow-orange {
   background: url("assets/images/tile_background_25.png"),$color-yellow-1;
   background: url("assets/images/tile_background_25.png"),-moz-linear-gradient(4deg, $color-orange-1 0%, $color-yellow-1 100%);
   background: url("assets/images/tile_background_25.png"),-webkit-linear-gradient(4deg,$color-orange-1 0%, $color-yellow-1 100%);
   background:    url("assets/images/tile_background_25.png"), 
                  linear-gradient(4deg, $color-orange-1 0%,
                   $color-yellow-1 100%
   
   );
   background-size: 90px 90px, contain;
}

%kvp-grad-blues {
   background: url("assets/images/pattern_simple.png"), $kvp-catalina-blue;
   background: url("assets/images/pattern_simple.png"), -moz-linear-gradient(180deg, $kvp-dark-blue 0%, $kvp-light-blue 100%);
   background: url("assets/images/pattern_simple.png"), -webkit-linear-gradient(180deg, $kvp-dark-blue 0%, $kvp-light-blue 100%);
   background: url("assets/images/pattern_simple.png"), linear-gradient(180deg, $kvp-dark-blue, $kvp-light-blue 50%,$kvp-light-blue 100%);
}

%gradient-catalina-to-cerulean {
   background: $kvp-dark-blue;
   background: -moz-linear-gradient(180deg, $kvp-catalina-blue 0%, $kvp-cerulean-blue 100%);
   background: -webkit-linear-gradient(180deg, $kvp-catalina-blue 0%, $kvp-cerulean-blue 100%);
   background: linear-gradient(180deg, $kvp-catalina-blue, $kvp-cerulean-blue 100%);
}

%gradient-flag {
   background: $color-blue-mid-3;
   background: -moz-linear-gradient(180deg, $color-blue-mid-3 0%, $color-blue-light-2 100%);
   background: -webkit-linear-gradient(180deg, $color-blue-mid-3 0%, $color-blue-light-2 100%);
   background: linear-gradient(180deg, $color-blue-mid-3, $color-blue-light-2 100%);
}

%border-up {
   background-image: url("assets/images/border_pattern_single_width.png");
   background-size: 60px 30px;
   background-repeat: repeat-x;
}
%border-down {
   @extend %border-up;
   background-image: url("assets/images/border_pattern_single_width-rotated.png");
}
%content {
   content: '';
   display: block; 
   position: absolute;
   width: 100%;
}