ul, ol {
	#primary &, #secondary & {
		@extend .list_flush;
	}
}
.widget_nav_menu {
	@extend .list_flush_menu;
}

#masthead {
	padding: 0;
	> .container {
		padding: 0; // Remove default padding on mobile
		// Padding is removed by default on wider screens
		max-width: 100%;
	}
}
.site-branding .site-title { 
	margin: 0;
	max-width: 65%;
	padding: 1em 3%;
	@include breakpoint( $tablet ) {
		margin: 0 auto;
	}
}
.js #nav-bar-search {
	@include breakpoint( $tablet ) {
		padding: 1em;
		input {
			max-width: $container-width;
			margin: 0 auto;
		}
	}
}
#menu-login {

	#welcome-message {
		display: none;
		@include breakpoint( $tablet ) {
			display: inline-block;
		}
	}
	#login, #logout {
		a {
			@include button( $color-complement );
			@include breakpoint( $tablet-horizontal ) {
				@include button( $color-complement, nano );
			}
		}
	}

}
/**
 *   Tweaks to layouts
 */

#preheader {
	font-size: ms(0);
	#switcher {
		display: block;
		padding: 0;
		margin: 0;
		@include breakpoint( $tablet ) {
			float: left; 
			text-align: left;
			width: 50%;
		}
		li {
			display: inline;
			margin-bottom: 0;
		}
	}
	#menu-login {
		padding: 0;
		margin: 0;
		float: right; 
		width: 50%;
		li {
			text-align: right;
			a {
				margin-bottom: 0;
			}
		}
		a {
			&:link, &:visited {
				background: $color-complement;
			}		
			&:hover {
				background: $color_background-button-hover;
			}
			&:active {
				background: $color_background-button-active;	
			}
		}
	}
}

#logo-gallery {
	&.gallery {
		ul {
			@include clearfix;
			margin-bottom: 2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
		li {
			padding: 0 2rem 2rem 2rem;
			@include breakpoint( $mobile-horizontal ) {
				padding: 0 2rem;
			}
			a {
				img {
					-webkit-filter: grayscale(0%);
					filter: grayscale(0%);
					width: 100%;
					max-width: 200px;
					@include breakpoint( $mobile-horizontal ) {
						width: 100%;
						max-width: 255px;
					}
				}
				&:hover {
					img {
						opacity: 0.7;
					}
				}
			}
		}

		// Grids
		.gallery-1 {
			@include breakpoint( $mobile-horizontal ) {
				li {
					&:nth-of-type(3n+1) {
						@include grid-span(6, 1);
					}
					&:nth-of-type(3n+2) {
						@include grid-span(6, 7);
					}
					&:nth-of-type(3n+3) {
						@include grid-span(12, 13);
						img {
							// Adesampa logo
							max-width: 523px;
						}
					}
				}
			}
		}
		.gallery-2 {
			@include add-grid(24);
			@include sgs-change('output', 'float');
			li {
				@include breakpoint( $mobile-horizontal ) {
					&:nth-of-type(2n+1) {
						@include isolation-span(6, 7, 'left');
					}
					&:nth-of-type(2n+2) {
						@include isolation-span(6, 13, 'right');
					}
				}
			}
		}

	}
}

 /**
 *   Tweaks to Home
 */

.home {
	#content {
		background-image: url("assets/images/Bom_Retiro.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#course-nav-linear {
		background-color: rgba( $bright-white, 0.9 );
		ul {
			background-color: rgba( $bright-white, 0 );
		}
	}
	#tax-front {
		background-color: rgba( $bright-white, 0.9 );
	}
}

.course-id {
	// color: lighten($color_text, 10%);
	font-weight: 500;
	margin-right: 10px;
}
/**
 *   Tweaks to Flexible Content
 */
.flex-content {
	.flex-content-layout {
		&.case-study {
			margin: 0 0 1em 0;
			padding: 1em;
			background-color: $color-secondary-1;
			color: $bright-white;
			font-family: "Montserrat";
			float: none;
			width: 100%;
		}


		// Checklist

		&.checklist {
			margin: 0 0 1em 0;
			li {
				padding: 0 0 2px 0;
			}
			.checklist-link {
				display: inline-block;
				@include button( $color-complement, pico );
			}
		}
		&.formatted-text {
			margin: 0 0 1em 0;
		}
		&.callout-text {
			padding: 1em;
			font-size: ms(2);
			background-color: $color-primary-tinted;
			color: $bright-white;
			font-family: "Montserrat";
			margin: 0 0 1em 0;
			p:last-child {
				margin-bottom: 0;
			}
		}

		.wpdm-link-tpl {
			padding: 1em;
			margin: 0 0 1em 0;
			text-align: center;
			font-size: ms(2);
			background-color: $color-primary;
			color: $bright-white;
			font-family: "Montserrat";
			.pull-left {
				display: none;
			}
			.wpdm-download-link {
				@include button();
			}
		}
	}
}

.quotation {
	margin: 0 0 1em 0;
	p {
		padding: 1em;
		margin: 0 0 1em 0;
		background-color: $color-complement-tinted;
		color: $bright-white;
		font-family: "Montserrat";
		position: relative;
		&:before {
		}
		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 15px 15px 0;
			border-color: $color-complement-shaded transparent;
			display: block;
			width: 0;
			z-index: 1;
			margin-left: -15px;
			bottom: -15px;
			left: 5%;
		}
	}
	footer {
		margin-left: 4%;
	}
}

/**
 * Colors
 */

.site-header {
	background-color: $white;
	border: none;
}

#intro {
	background-color: $color-complement;
	@include light-text-dark-bg;
	.tax-resource & {
		background-color: $color-secondary-3;
	}
	.home &,
	.tax-section &,
	.post-type-archive-content &,
	.post-type-archive-content_cpt & {
		background-color: $color-complement;
	}
}
 
#preheader {
	background-color: $color-neutral;
	@include light-text-dark-bg;
}
#colophon {
	background-color: $color-neutral;
	@include light-text-dark-bg;
}
#footer-navigation {
	background-color: $color-primary;
	@include light-text-dark-bg;
}
#callout_facebook {
	@extend .h3-reset;
	text-align: center;
	color: $bright-white;
	background-color: $color-secondary-2;
	@include breakpoint( $tablet ) {
		@include section(micro);
	}
	a {
		display: block;
		&:link, &:visited {
			color: $color-secondary-2-super-shaded;	
		}
		&:hover, &:active {
			color: $color-secondary-2-ultra-shaded;	
		}		
	}
}
#logo-gallery {
	background-color: $bright-white;	
}

/**
 * Fonts
 */
.h1, .h2, .h3 {
	text-transform: uppercase;
	letter-spacing: -1px;
}
.h4, .h5, .h6 {
	text-transform: none;
	letter-spacing: 0;
}

/**
 * Posts
 */

ul.buttons {
	a {
		@extend .button;
		@extend .button--small;
	}
}

/**
 * Nav
 */

.widget_nav_menu, .media-object {
	.menu {
		@include breakpoint( $tablet ) {
			text-align: left;
		}
		li {
			@include breakpoint( $tablet ) {
				margin: 0 0 10px 0;
				text-align: left;
				display: block;
				&:last-child {
					margin: 0;
				}
			}
			a {
				@include breakpoint( $tablet ) {
					padding: 0;
				}
				span.course-id {
					@include breakpoint( $tablet ) {
						display: block;
						font-size: 1.2em;
						font-weight: 700;
					}
				}
			}
		}		
	}
}

/**
 * Media Objects
 */
a.media-object {
	display: block;
	border: none;
}
.media-object {
	$opacity_var: 1;
	border: none;
	box-shadow:inset 0px 0px 0px 10px rgba( $color-text, 0.1 );
	background-color: $bright-white;

	&.quotation {
		background-color: transparent;
		box-shadow: none;
	}

	.media-object-content {
		@include breakpoint( $mobile ) {
			width: 100%;
		}
	}

	header {
		#tax-front & {
			background-color: $color-secondary-3;
		}
	}

	footer {
		@extend .visuallyhidden;
	}

	> a {
		display: block;
		border: none;
	}
	
	header, footer {
		background-color: $color-complement-shaded;
		#course-nav-linear & {
			background-color: rgba( $color-complement-shaded, $opacity_var );
		}
	}

/*	&:nth-of-type(4n+1){
		header, footer {
			background-color: $color-primary;
			#course-nav-linear & {
				background-color: rgba( $color-primary, $opacity_var );
			}
		}
	}
	&:nth-of-type(4n+2){
		header, footer {
			background-color: $color-complement;
			#course-nav-linear & {
				background-color: rgba( $color-complement, $opacity_var );
			}
		}
	}

	&:nth-of-type(4n+3){
		header, footer {
			background-color: $color-secondary-1;
			#course-nav-linear & {
				background-color: rgba( $color-secondary-1, $opacity_var );
			}
		}
	}
	&:nth-of-type(4n+4){
		header, footer {
			background-color: $color-secondary-2;
			#course-nav-linear & {
				background-color: rgba( $color-secondary-2, $opacity_var );
			}
		}
	} */
	.media-object-content {
		margin:0;
		h3 {margin: 0;}
		p {padding: 0.5rem 1.5rem 0.5rem 1.5rem;}
		ul {
			margin-bottom: 0;
			padding: 1rem 1.5rem 2rem 1.5rem;
		}
		header.entry-title, footer {
			display: table;
			width: 100%;
			margin-bottom: 0;
			padding: 1rem 1rem 1rem 1rem;
			a {
				&:link {
					color: $bright-white;
				}
				&:visited {
					color: $bright-white;
				}
				&:hover {
					color: $bright-white;
				}
			}
			h3 {
				display: table-cell;
				vertical-align: middle;
				color: $bright-white;
			}
		}
	}

	.grid-cols-two & {
		@include breakpoint( $tablet ) {
			font-size: ms(1);
			&:nth-of-type(2n+1) {
				@include grid-span(12, 1);
			}
			&:nth-of-type(2n+2) {
				@include grid-span(12, 13);
			}
		}
	}
}

.read-more a i {
    @include breakpoint( $mobile-horizontal ) {
    	display: inline-block;
    	position: relative;
    	top: 2px;
    	margin-left: 5px;
    }
}

#colophon {
	#tagline {display: none;}
	@include breakpoint( $tablet ) {
		.container {
			@include add-grid(24);
			@include sgs-change('output', 'float');
			#footer-logo {
				@include grid-span(8, 9);
			}
			.site-info {
				@include grid-span(8, 17);
				text-align: right;
				div {
					display: block;
					margin-bottom: 1rem;
				}
				.pipe {
					display: none;
				}
			}
			.social {
				@include grid-span(8, 1);
				text-align: left;
			}
		}
	}
	#back-to-top {
		display: none;
	}
}

#main-navigation-menu .menu {
	li {
		border-bottom: none;
	}
	a {
		text-transform: uppercase;
		font-size: 1.5em;
		font-weight: 800;
		@include breakpoint( $tablet ) {
			font-size: 1em;
			font-weight: 500;
		}
	}
}
#preheader {
	#switcher {
		#language-selector {
			ul {
				li {
					&.inactive {
						// Fake button!
						$inactive_color: darken( $color-primary, 10% );
						@include button( $inactive_color );
						@include breakpoint( $tablet-horizontal ) {
							@include button( $inactive_color, nano );
						}	
					}
					a {
						&:link, &:visited {	
							background: $color_background-button-lang-switcher;
						}		
						&:hover {
							background: darken( $color_background-button-lang-switcher, 10%);
						}
						&:active {
							background: darken( $color_background-button-lang-switcher, 15%);
						}
					}
				}
			}
		}
	}
}

#nav-bar-search {
	background-color: desaturate( $color-complement, 60% );
	@include light-text-dark-bg;
	form {margin-bottom: 0;}
	input[type="search"], textarea[type="search"] {
		background-image: none;
		background-color: $white;
		margin-bottom: 0;
	}
}
.mb-design #simplemodal-login-container {
	max-width: 350px;
	margin: 0 auto;
	width: 90% !important; // Override inline styles
	#simplemodal-login-form {
		background-color: $bright-white; 
		@include border-radius(0);
		.wp-social-login-widget {
			padding: 1rem;
			margin-bottom: 0;
			text-align: center;
			background-color: $facebook;
			color: $bright-white;
			.wp-social-login-connect-with {
				@extend .h2;
				font-weight: bold;
				display: block;
				margin-bottom: 0;
			}
			.wp-social-login-provider-list {
				.fa {
					// font-size: 2.5rem;
					&.fa-circle {
						// font-size: 4rem;
					}
				}
			}
			&+.wp-social-login-widget {
				display: none;
			}
		}
	}
}
#simplemodal-login-overlay {
	background-color: $color-secondary-2 !important;
}
.mb-design #simplemodal-login-container {
	.title {
		@extend .h2;
		font-weight: bold;
		text-align: center;
	}
	form {
		@include border-radius(0);
		border: none;
		margin: 0;
		.title {
			@extend .h4;
			margin: 0;
		}
	}
}

.tax-resource {
	.course-id {
		// Hide the ID number on the tax view pages to encourage non-linear 
		// navigation
		@extend .visuallyhidden;
	}
}

.page-title {
	margin: 1em 0;
}

.content-archive-link {
	@include button( $color-content, 'mega' );
}

#video-embed {
	text-align: center;
	// color: mix( $color-secondary-2, $color-secondary-1, 50% );
	color: $bright-white;
	background-color: rgba($color-secondary-1-super-shaded, 0.98);
	.content-container {
		margin: 0 auto;
		max-width: 550px;
	} 
}
#latest-comments-front {
	text-align: center;
	color: $color-complement-ultra-shaded;
	background-color: rgba($bright-white, 0.9);
}
.home {
	text-align: center;
	#login-nag {
		header {
			margin: 0;
		}
		.home-section-title {
			margin-bottom: 0;
			a {
				display: block;
				border-bottom: none;
			}
			span span span { // anchors already have 2 spans inside them
				display: block;
	    		font-size: 2rem;
			}
		}
	}
}

#related-resources {
	li {
		@include card($color-secondary-3);
		@extend .h5-reset;
		color: $bright-white;
	}
}
#login-nag {
 	background-color: $color-neutral-super-tinted;
	color: $color-complement;
}
.login-nag {

	// Global 
	@extend .h5-reset;
	a {@include block-link;}
	// Single posts
	.single & {@include card;}

	// Front page
	.home & {
		span {
			@extend .h2-reset;
			> span {
				display: block;
				@extend .h4-reset;
			}
			.fa {font-size:2em}
		}
	}
}