$color_button: $bright-white;
$color_background-button: $color-secondary-2;
$color_button-hover: $color_button;
$color_background-button-hover: $color-secondary-2-tinted;
$color_button-active: $color_button;
$color_background-button-active: $color-secondary-2-shaded;
$icon-font-readmore: '\f055';
$color_background-button-lang-switcher: $color-primary; // language switcher button
$color-text: $color-primary-super-shaded;
$input-border-radius: 0;