.mb-design {
	.wpProQuiz_text,
	.wpProQuiz_time_limit,
	.wpProQuiz_checkPage,
	.wpProQuiz_lock,
	// .wpProQuiz_loadQuiz,
	.wpProQuiz_startOnlyRegisteredUser,
	.wpProQuiz_prerequisite,
	.wpProQuiz_results,
	.wpProQuiz_reviewDiv,
	.wpProQuiz_quizAnker,
	.wpProQuiz_infopage {display: none !important;}
	.wpProQuiz_content {
		& > h2 {display: none !important;}
		.wpProQuiz_question_page,
		.wpProQuiz_header,
		input[name="next"].wpProQuiz_button.wpProQuiz_QuestionButton {
			display: none !important;
		}
		input[name="check"].wpProQuiz_button.wpProQuiz_QuestionButton {
			@include button();
			// display: inline-block !important;
			margin-right: 0 !important;
		    padding: 5px 10px!important;
		    background: $color-complement !important;
		    border-radius: 0 !important;
		    color: #fff !important;
		    font-weight: 500 !important;
		    border: none !important;
		    box-shadow: none !important;
		}
		.wpProQuiz_question_text {
			font-size: ms(2);
			ul {
				
			}
		}
		.wpProQuiz_questionList {
			border: none !important;
			background: none !important;
			padding: 0 !important;
			width: 100% !important;
			label {
				font-style: normal;
			}
			.wpProQuiz_questionListItem {				
				&:before {
					padding-right: 0 !important;
				}
			}
		}
		.wpProQuiz_response {
		    background: none !important;
		    border: none !important;
		    padding: none !important;
		    margin-bottom: 1rem !important;
		    box-shadow: none !important;
		    p {margin-bottom: 0;}
		}
		.wpProQuiz_answerIncorrect {
			background-color: $color-alert !important;
		}
		.wpProQuiz_answerCorrect {
			background-color: $color-complement-ultra-tinted !important;
			label {
				font-weight: 500 !important;
			}
		}
	}
}