// Buttons - Global
$button-border-radius: 0px;
$button-border-width: 2px;

// Buttons - Primary
$bn-p-background: $kvp-catalina-blue;
$bn-p-border-color: $color-border-button;
$bn-p-color-hover: white;
$bn-p-background-hover: $kvp-cerulean-blue;
$bn-p-border-color-hover: $color-border-button;

// Buttons - Secondary
$bn-s-color:                     $white               !default;
$bn-s-background:                $black               !default;
$bn-s-border-color:              $black               !default;
$bn-s-color-hover:               $white               !default;
$bn-s-background-hover:          darken($black, 5%)   !default;
$bn-s-border-color-hover:        darken($black, 5%)   !default;

// Buttons - Ghost
$bn-g-color: $color-primary;
$bn-g-background:                $trans               !default;
$bn-g-border-color: $color-primary;
$bn-g-color-hover:               $black               !default;
$bn-g-background-hover:          $white               !default;
$bn-g-border-color-hover:        $white               !default;