// Brand colors

$color-primary:      #8f1b5a !default;
$color-complement:   #77a51f !default;
$color-secondary-1:  #b15521 !default;
$color-secondary-2:  #16745A !default;
$color-secondary-3:  #e69908 !default;
$color-neutral:      #313240 !default;
$color-neutral-2:    #313240 !default;