// Breakpoint Sass
$mobile: 320px !default;
$mobile-horizontal: 480px !default;

$tablet: 768px !default;

$tablet-horizontal: 1024px !default;
$desktop: 1280px !default;
$desktop-medium: 1366px !default;
$desktop-wide: 1500px !default;

// Min
$bp-intermediate: 600px !default;
$bp-wide: 1024px !default;