// Icons (Images)

// Sizes

$icon-width-small: 					32px;
$icon-width-medium: 				64px;
$icon-width-large: 					96px;

// Icons (Fonts)

$icon-font-readmore: '\f067';				
$icon-font-bullet: '\f111' !default;	