// Icons (Images)

// Sizes

$icon-width-small: 					32px;
$icon-width-medium: 				64px;
$icon-width-large: 					96px;

// Icons (Fonts)

$icon-font-readmore: '\f067' !default;

/* Bullets*/				
$icon-font-bullet: '\f111' !default;

/* Navigation */
$icon-font-nav-previous: '\f177' !default;	
$icon-font-nav-next: '\f178' !default;
$icon-font-link-external: '\f14c' !default;

$icon-font-nav-padding: 5px !default; /* padding between label and icon */

	// Direction
	$icon-font-up: '\f178' !default;
	$icon-font-down: '\f178' !default;
	$icon-font-right: '\f105' !default;
	$icon-font-left: '\f178' !default;
