// Structure
$container-width_narrow: 50rem !default;
$container-width: 60rem !default;
$container-width_medium: 75rem !default;
$container-width_wide: 85rem !default;
$container-padding-top-bottom: 3em !default;
$container-padding-left-right: 5% !default;

// Grids
$grid-column-gap: 2rem !default;
$grid-row-gap: 1rem !default;

$cover-min-height: 499px;

$pageWidth: 100% !default;
$block-padding: 1em 10% !default;
$side-padding: 0 10% !default;
$width_menu-item: 199px !default; // Dropdown menu needs fixed width for positioning
$menu_sub_offset: 20px !default; // Offset dropdown submenu so text is aligned with parent
$input-padding: 1em 10px !default;
$input-border-radius: 5px !default;

/**
 * Section padding
 **/

$section-padding-left: 5% !default;
$section-padding-right: 5% !default;

$section-padding-minor-top: 1.5rem !default;
$section-padding-minor-bottom: 1.5rem !default;

$section-padding-major-top: 3rem !default;
$section-padding-major-bottom: 3rem !default;

//

// Input padding
$input-padding-basis-v: 0.32rem !default;
$input-padding-basis-h: 0.76rem !default;

$ratio: 1.3;


// Search toggle width
$search-toggle-width: 30px;

// Feature image sizes
$size-square-width: 328px;
$size-square-height: 328px;
