// Masonry
// Apply these to the .grid-sizer and .gutter-sizer elements, plus the items themselves.
$grid-sizer-1: 31.1828% !default; // 2 columns, gutter x1
$grid-sizer-2: 31.1828% !default; // 3 columns, gutter x2
$gutter-sizer-1: 3.22581% !default; // width of gutter