// Brand colors

$color-primary: 	#345445 !default;
$color-complement: 	#765876 !default;
$color-secondary-1: #b15521 !default;
$color-secondary-2: #795548 !default;
$color-secondary-3: #e69908 !default;
$color-neutral: 	#313240 !default;