
/* Colors: */

// Add all color values here in HEX format
// You can check for duplicates more easily if all 
// the values are in one place.

$sub-head-font: #1FB3AA;
$body-text-font: #4A4D4D;
$line-color: #C27BA2;
$circles-bio: #E61C1C;
$page-background: #F8F6F6;

// Yellows
$kvp-yellow: rgba(255, 207, 7, 1);
$color-yellow-1: #FFCF07;
$color-yellow-2: #DDBA5D;

// Oranges
$kvp-orange: rgba(234, 156, 10, 0.92);
$color-orange-1: #EA9C0AEB;

// Blues
$kvp-catalina-blue: #09177B;
$kvp-mariner-blue: #2256c6;
$kvp-cerulean-blue: #2E62C4;
$color-blue-cerulean: #1C60BC;
$kvp-light-blue: rgba(76, 156, 231, 1); // #4c9ce7
$color-blue-light-2: #68B5FD; // top of cover flag
$color-blue-mid-3: #2E4D90; // bottom of cover flag


// Blues - Legacy
   $quote: #0962CB;
   $header-font: #031480;

$color-border-button: #DDDBDB;
$kvp-border: rgba(245, 244, 242, 1);

$color-primary:      $header-font;
$color-complement:   #3F909D !default;
$color-secondary-1:  #C3A4DD !default;
$color-secondary-2:  #D69212 !default;
$color-secondary-3:  $circles-bio;
$color-neutral:      $page-background;
$color-neutral-2:    #313240 !default;



/**
 * Functional Variables
 **/

   // Headers
      $color-header-border: $kvp-cerulean-blue;
      $header-line-color: $kvp-cerulean-blue;

/**
 * Refactors
 **/

   $kvp-dark-blue: $kvp-mariner-blue; 

