$black: $body-text-font;
$white: white;

// Text Selection
$color_text-selection: $sub-head-font;

// Links
$color_text-anchor: $body-text-font; 
$color_text-anchor-visited: $body-text-font; 
$color_text-anchor-hover: $body-text-font; 
$color_text-anchor-active: $body-text-font; 