// Sizes
$base-font-size: 18px;
$base-header-h6-font-size: 1.36605rem; // h2 = 36px

// Families
$base-font-family: 'Raleway', sans-serif;
$alt-font-family: 'Oswald', sans-serif;
$alt2-font-family: 'EB Garamond', serif;