// Cover
.cover {
	background-repeat: no-repeat;	
	
	&.cover-background-image {
		/* If there is a background image, set height so when 
		content is hidden on mobile, we still see the image */
		height: 200px;
	}

	@include breakpoint( $tablet ) {
		padding-top: 150px;
		min-height: 500px;
		display: table;
	}

	.content-wrapper {
		@include clearfix;
	}
	.container {
		@include add-grid(24);
		@include add-gutter(1/3);
		@include breakpoint( $tablet ){
			// min-height: 500px;
			background-color: transparent; // Remove color to show bg image
		}
	}

	.container {

		/* Don't show content inside the cover on smaller devices. It
		is repeated after the cover block */
		display: none;

		@include breakpoint( $tablet ) {
			/* Content is displayed as a table-cell so it
			can be vertically aligned */
			display: table-cell;
			width: 100%;
		}

	}

	.media-object {		
		.media-object-content {
			display: table;
			height: auto;
			&>div {
				display: table-cell;
				vertical-align: middle;
			}

			footer {
				position: relative;
				background: none;
				padding: 1rem;
				&.read-more {
					a {
						margin-right: 0;
						margin-left: 0;
						background: yellow;
						border: none;
					}
				}
			}
		}
	}

	body.cover-no-background-image & {
		@extend .section-minor; /* 1 */
		h1 {
			margin: 1em 0; /* 1 */
		}
	}

}

#cover-text-substitute {
	@include breakpoint( $tablet ) {
		/* Hide duplicate cover content on desktop */
		display: none;
	}
}

.home .cover {
	// margin-top: -10px; // By adjusting this, you can break the grid!
	.media-object {
		border: none;
		margin-bottom: 0;
		.media-object-content {
			p {
				padding: 0;
			}
		}
		.media-object-media {
			background-size: 0; // Hides the background image
			position: relative;
			
			// On tablets, we use a background image for best results
			@include breakpoint( $tablet ) {
				background-size: contain; // Displays the background image
			}
			// On tablets in landscape, we switch back to a inline image
			@include breakpoint( $tablet-horizontal ) {
				background-size: 0; // Hides the background image
			}

			img {
				width: 100%;
				margin-bottom: 1.5em; // Stacked layout, so needs a margin
				@include breakpoint( $tablet ) {
					display: none; // Hides the inline image
					margin-bottom: 0; // Remove margin as layout is now side by side
				}
				@include breakpoint( $tablet-horizontal ) {
					display: inline; // Shows the inline image
				}
			}


		}
		.button {
			margin-bottom: 10px;
		}
		article { margin: 0; }
	}
}

// ======= Footnotes ======= //

/* 1	Reset padding
		Not required when there is no background image */