// Cover
.cover {
	background-repeat: no-repeat;	
	@include breakpoint( $tablet ) {
		min-height: $cover-min-height;
	}



	&__section {
		position: relative; // Allow overlay positioning
		background-size: 0 0; // Hide background image
		@include breakpoint( $tablet ) {
			background-size: cover; // Show background image
		}
		// Overlay
		&:before {
			@extend %overlay;
			@extend %overlay__dark;
			content: none; // Hide the overlay
			@include breakpoint( $tablet ) {
				content: ""; // Show the overlay
			}
		}
		@extend .section;
		@extend .section__background;
	}

	&__container {
		@include breakpoint( $tablet ){
			padding: 2rem;
			background-color: transparent; // Remove color to show bg image
		}
		.cover__image & {
			min-height: calc( #{$cover-min-height} - #{$section-padding-top} - #{$section-padding-bottom});
			display: flex;
			flex-flow: row wrap; // Arrange in rows
			justify-content: center;
			align-items: flex-end; // vertical alignment
			align-content: flex-end; // Pack lines to end
		}
		& > * {
			.cover__image & {
		  		flex: 1 100%;
		  		margin: 0;
		  	}
		}
	}

	&__inline-image {
		// Replaces the background image on mobile
		display: block;
		@include breakpoint( $tablet ) {
			display: none;
		}
	}

	.media-object {		
		.media-object-content {
			display: table;
			height: auto;
			&>div {
				display: table-cell;
				vertical-align: middle;
			}

			footer {
				position: relative;
				background: none;
				padding: 1rem;
				&.read-more {
					a {
						margin-right: 0;
						margin-left: 0;
						background: yellow;
						border: none;
					}
				}
			}
		}
	}

	body.cover-no-background-image & {
		@extend .section-minor; /* 1 */
		h1 {
			margin: 1em 0; /* 1 */
		}
	}

	// Content color
	// Class added based on custom field
	&__dark-image {
		@include light-text-dark-bg; // Set container color
		// @include can't be used in a media query
		// So if we want to change the color responsively,
		// we need to be specific.
		color: $bright-white;
		.cover__container { // 
			color: $black; // Content has no background image
			// Link colors would also have to be specified here. 
			@include breakpoint( $tablet ) {
				color: inherit; // Falls back to container color
			}
		}
	}

	&__light-image {
		@include dark-text-light-bg;
	}

	&__image {
		&__none {
			background-color: #eee;
			&:before {
				content: none; // No image, no overlay
			}
		}
	}

	&__content-top {
		// Content alignment
		// Class added based on custom field
		align-items: flex-start;
	}

	&__content-bottom {
		align-items: flex-end;
	}

}