.js .nav-collapse {
	// Only include styles that affect the functioning of the menu.
	clip: rect(0 0 0 0);
  	max-height: none;
  	position: absolute;
  	display: block;
  	overflow: hidden; // hides menu until toggle is clicked
  	zoom: 1;
  	@include bp($tablet){
		display: table; // for vertical positioning
		width: 100%;
		position: relative;
		overflow: visible; // for dropdown menus 
	}
	&.opened {
  		max-height: 9999px;
	}
	&.closed {
		max-height: 0;
		@include bp($tablet){
			max-height: none;
		}
	}
}


// Search 
#nav-bar-search {
	&.opened,
	&.closed {
  		max-height: 9999px !important; // On mobile, search visible whether "open" or "closed".
	}
	@include bp( $tablet ) {
		&.opened {
	  		position: absolute !important;
	  		top: 100%;
    		right: -2px;
	  		clip: auto;
	  		border: 1px solid rgba(0,0,0,.1);
	  		width: 300px;
		}
		&.closed {
	  		max-height: 0px ;
		}
	}
}






.disable-pointer-events {
  pointer-events: none !important;
}

.nav-button svg path {
  stroke: rgba(0, 0, 0, 0.5);
}

/* Toggles */

a#nav-toggle {
	display: block; // Show the toggle on mobile
	position: absolute; 
	padding: 1rem;
	top: -5px; // A manual adjustment.
	right: 0;
	line-height: 1; // Prevent extra height on icon.
	width: auto;
	text-align: right; // Because there might be text.
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

/*   	&::before {
	  	@extend .fa-3x;
		font-family: 'FontAwesome';
		content: '\f0c9';
	} */

  @include bp($tablet){
	   display: none; // Don't show the toggle on tablets
	}	
/* 	&.active {
		float: right;
		&::before {
  			content: '\f00d'; 
		}
	} */
}

