.twitter-feed {
	&__list {
		@extend %no-bullets;
		@include bp($tablet){
			display: flex;
			justify-content: space-between;
		}
		li {
			@include bp($tablet){
				flex: 1 auto;
				width: 30%;
			}
			.interact {
				a {
					margin-right: 3px;
				}	
			}
		}
	}
}