.section {
   &--media-block {


      &--image-left {
         .post {
            &__image {
               grid-column: 1/7;
            }
            &__title {
               &__wrapper {
                  @include bp($tablet){
                     grid-column: $text-block-right;
                  }
                  @extend %header-sun-bg-position-alt;
                  &:after {
                     @extend %header-sun-h-line-position-alt;
                  }
               }
               &__h {
                  @extend %header-sun-h-spacing-alt;
                  text-align: right;
               }
            }
            &__body {
               @include bp($tablet){
                  grid-column: 7/-4;
               }
               @include bp($tablet-horizontal){
                  grid-column: 7/-4;
               }
            }
         }
      }
   }
}