.section {
   &--posts--latest {
      .posts {
         &__wrapper {
            display: flex;
            padding: 1rem;
            box-shadow: 0px 2px 8px 2px rgba( $color-secondary-2, .62 );
            backdrop-filter: blur(3px);
            &--post-count {
               max-width: $container-width_narrow;
               &-1 { // The Chosen One
                  @extend %grid-ass;
                  
               }
            }
         }
      }
      .post {
         &__image {
            display: none;
         }
         &__author {
            display: none;
         }
         &__title {
            a {
               text-decoration: none;
            }
         }
         &__date {
            &__published {
               display: none;
            }
         }
         &__excerpt {
            font-size: 1.5rem;
         }
      }
   }
}

.posts {
   &--latest {
      &.posts--1 {
         .container {
            max-width: $container-width_narrow;
         }
      }
      .posts__wrapper {
         display: flex;
         padding: 1rem;
         box-shadow: 0px 2px 8px 2px rgba( $color-secondary-2, .62 );
         backdrop-filter: blur(3px);
         &.posts__wrapper--post-count {
            &-1 { // The Chosen One
               @extend %grid-ass;
            }
         }
      }
   }
}
