.section--block-divider {
    // Vars
    $padding: 30px;

    // White > Grey
    position: relative;
    height: 90px;
    margin: 0;
    padding: 0;
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        display: block;
        width: 100%;
        height: calc(#{$padding} * 3);

        // Background
        background:white;
        background-image: url("assets/images/border_pattern_single_width.png");
        background-position: center bottom 60px;

        // Border
        border-width: 0 0 $padding 0;
        border-style: solid;
        background:white;
        border-color: $page-background;
        border-color: green;
        border-width: $padding 0 0 0;
        border-color: $page-background;
        background-image: url("assets/images/border_pattern_single_width-rotated.png");
        background-position: left bottom 30px;
        background-repeat: repeat-x;
        background-size: 60px 30px;

      }
  &--alt {
      // Transition from default block background
      // to "Alt" color
      // Grey > White
      background:white;
      &::after {
        border-width: $padding 0 0 0;
        border-color: $page-background;
        background-image: url("assets/images/border_pattern_single_width-rotated.png");
        background-position: left bottom 30px;
        background-repeat: repeat-x;
      }
  }
}
