/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
	text-align: center;
	background-color: $color-secondary-2;
	@include light-text-dark-bg;
	.container {
		@include breakpoint( $mobile-horizontal ) {
			@include add-grid(24);
			@include sgs-change('output', 'isolation');
		}
	}
	

	
}

#footer-widgets {
	aside {
		padding: 1%;
	}
}

#back-to-top {
	margin-bottom: 1rem;
	font-size: ms(2); 
	i::before {
		content: '\f176';
	}
	a {
		border-bottom: none;
	}
	@include breakpoint( $tablet ){	
		position: absolute;
		text-align: right;
		right: 0;
		top: 0;
	}
}

.site-info {
	margin-bottom: 1rem;
	@extend .font_small !optional;
	.pipe {
		display: none;
		@include breakpoint( $tablet ) {
			display: inline;
			opacity: .6;
			margin: 0 1rem;
		}
	}
	@include breakpoint( $tablet ){	
		div {
			display: inline;
		}
	}

	a {
		border-bottom: none;
	}
}

#copyright {
	margin-bottom: 10px;
}

#signup {
	
	h2 {
		margin-top: .5em;
		i {
			&.fa-envelope {
				display: block;
				@include breakpoint( $tablet ) {
					display: inline-block;
				}
			}
		}
	}
}

#footer-navigation {
	// A menu in the footer

	// TODO Rename section to "pre-footer"
	@extend %remove-top-bottom-padding;
	@include light-text-dark-bg;
	background-color: $color-primary-tinted;
	.menu {
		@include center-block;
		text-align: center;
		margin: 0;
		padding: 0;
		// border-bottom: 1px solid darken( $grey, 14% );
		li {
			&:hover {
				background-color: $color-primary-shaded;
			}
		}
	}
}

// Footer 
.site-footer {
	.social {
		margin-bottom: 1rem;
		@include breakpoint( $tablet ){	
			// @include grid-span(8, 9);			
			text-align: center;
			// margin-bottom: 0;
			font-size: 1rem;
		}
	}
}

#footer-logo {
	padding: $block-padding;
	margin-bottom: 1em;
	@include breakpoint( $tablet ) {
		padding: 0;
		margin-bottom: 0;
	}
	img {
		width: 100%;
		max-width: 230px;
		opacity: .2;
	}
}