/* Headroom.js */

.headroom {
	
	/* when scrolling down */
	&--unpinned {
		@extend .slideDown !optional;
	}

	/* when scrolling up */
	&--pinned {
		@extend .slideDown !optional;
		position: fixed;
		display: block;
	}

	&--top {
		display: block;
		position: relative;
		//@extend .slideUp !optional;
	}

	&--not-top {
		@extend .slideUp !optional;
	}

}