.media-object-container {	
	// Set up the grid
	@include add-grid( $grid );
	@include add-gutter( $gutter );
	@include sgs-change('output', 'float');
}

// Standard stacked layout
.media-object {
	
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #ddd;
	
	@include breakpoint( $tablet ) {
		padding: 0;
		overflow: hidden;
		position: relative;
	}

	.media-object-media {	
		img {
			width: 100%;
		}
		@include breakpoint( $tablet ) {
			padding: 10px;
		}
	}
	.media-object-content {
		position: relative;
		overflow: hidden;
		header {
			font-family: $alt2-font-stack;
			@extend .font_small !optional;
			.entry-title {
				font-family: $alt-font-stack;
				@extend .h6 !optional;				
			}
		}
		header, p, footer, ul {
			padding: 1rem 1rem 0 1rem;
		}
		.h3 {
			@extend .h5;
		}
		.latest {
			margin-bottom: 1rem;
			// @extend %padded-multiline;
		}
		footer {
			@include breakpoint( $tablet ) {
				display: block;
				padding: 1rem;
				width: 100%;
			}
		}
		@include breakpoint( $tablet ) {
			height: auto;
		}
	}

}

// Change layout to 3 columns
@include breakpoint( $tablet ) {
	@include add-grid(24);
	.media-object {
		&:nth-of-type(3n+1) {
			@include grid-span(8, 1);
		}
		&:nth-of-type(3n+2) {
			@include grid-span(8, 9);
		}
		&:nth-of-type(3n+3) {
			@include grid-span(8, 17);
		}

		// Restore stacked content layout
		.media-object-media {
			width: 100%;
			float: none;
			padding: 0;
			.fa-stack {
				display: inline-block;
				text-align: center;
			}
		}
		.media-object-content {
			width: 100%;
			float: none;
			text-align: center;
		}
	}
}

// Image grid layout

.media-object-container {
	
	&.grid-layout {
		// Float layout
		@include sgs-change('output', 'float');
		@include clearfix;

		
		// Standard stacked layout
		.media-object {
			height: auto;
			@include transition(all, 0.3s, ease-in-out);
			position: relative;
			overflow: hidden;
			margin-bottom: 3.22581%; // This matches the vertical gutters
			border: none;
			
			a {
				display: block;
				&:link, &:visited, &:hover, &:active {
					// color: $color-background-tinted;
				}
				&:hover {
					border-bottom: none;
					img	{
						opacity: .9;
					}
					article.media-object-content {
						background-color: transparent;
					}
				}
			}
			
			.media-object-media {	
				img {
					width: 100%;
					position: relative;
				}
			}

			article.media-object-content {
				position: absolute;
				top: 0;
				left: 0;
				text-align: left;
				display: block;
				height: 100%;
				header {
					font-size: 2rem;
					line-height: 1.25;
					// text-transform: uppercase;
					@extend %vertical-align;
					@extend %padded-multiline;
					span {
						background-color: lighten( $grey, 4% );
						// color: $black;
					}
				}
			}

			

			@include breakpoint( $mobile-horizontal ) {
				// Rectangle + Square
				&:nth-of-type(10n+1) { @include grid-span(16, 1); }
				&:nth-of-type(10n+2) { @include grid-span(8, 17); }
				&:nth-of-type(10n+3) { @include grid-span(8, 1); }
				&:nth-of-type(10n+4) { @include grid-span(16, 9); }

				// Make height=width
				&:before{
					content: "";
					display: block;
					padding-top: 100%; 
				}

				// Restore stacked content layout
				.media-object-media {
					width: 100%;
					float: none;
					padding-right: 0;
					img {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					}
					.fa-stack {
						display: inline-block;
						text-align: center;
					}
				}
				
				.media-object-content {
					width: 100%;
					float: none;
					text-align: center;
					header {
						font-size: 30px;
					}
				}
			}
		}
	}

	&.full-width {
		.media-object {
			@include breakpoint( $tablet ) {
				@include grid-span(24, 1);
				@include add-grid( $grid );
				@include add-gutter( $gutter );
				@include sgs-change('output', 'float');
			}
			.media-object-media {
				@include breakpoint( $tablet ) {
					@include grid-span(12, 1);
				}
			}
			.media-object-content {
				@include breakpoint( $tablet ) {
					// height: auto !important;
					@include grid-span(12, 13);
				}
			}
		}
	}

}
.read-more {
	// text-align: right;
	font-size: 1rem;
	a {
		display: inline-block;
		width: auto;
		// @include center-block;
		// @include circle( 2em, $grey );
		// border: 1px solid darken( $grey, 10% );
		border: none;
		& > span {
			display: inline-block;
			height: 100%;
		}
		i {
			display: block;
			// @extend %vertical-align;
			&:before {
				content: $icon-font-readmore;
				font-size: 1.5em;
				font-weight: 100;
			}
		}
	}
}