ul.menu,
.menu ul {
	@include clearfix;
	display: block;
	list-style: none;
	font-family: $alt2-font-stack;
	font-size: ms(2); 
	// text-transform: uppercase;
	font-weight: normal;
	margin: 15px 0 0 0;
	@include breakpoint($tablet){
		margin: 0 0 10px 0;
		text-align: right;
		width: 100%;
  		font-size: ms(0);	
	}
	li {
		text-align: center;
		border-bottom: 1px solid rgba(0,0,0,.1);
		@include breakpoint($tablet){
			border: none;
			display: inline-block;
			margin: 0 0 0 1em;
			position: relative; // Allow absolute positioning of sub-menus
		}
		&:last-of-type {
			border: none; // Remove border from last list item
		}
		&.menu-icon {
			position: relative;
			&::after {
				font-family: 'FontAwesome';
				margin-left: 15px;
				width: 16px;
				position: absolute;	
				right: 10px;
				top: 10px;		
			}
			&.icon-book {
				&::after {
					content: '\f097';
				}
			}
			&.icon-column {
				&::after {
					content: '\f0db';
				}
			}
			&.icon-opinion {
				&::after {
					content: '\f10d';
				}
			}
			&.icon-media {
				&::after {
					content: '\f03d';
				}
			}
			&.icon-analysis {
				&::after {
					content: '\f201';
				}
			}
		}
		&.current-menu-item > a,
		&.current_page_parent > a {
			@include breakpoint($tablet){

			}
		}

		&.menu-item-has-children > a:after,
		&.page_item_has_children > a:after {
			@include breakpoint( $tablet ){
				font-family: 'FontAwesome';
				content: '\f0d7'; //  fa-caret-down
				padding-left: 5px;
				opacity: .6;
			}
		}
		a {
			padding: 20px 5px;
			display: block;
			text-decoration: none;
			border-bottom: none;
			@include breakpoint( $tablet ) {
				
			}
			&:hover, 
			&:active {
				background-image: $svg-bg;
				background-repeat: repeat;
			}
		}
	}

	&.all-tax-terms {
		text-align: center;
		border: 1px solid #ddd;
		margin-bottom: 0;
		font-size: ms(2);
		li {
			margin: 0 1em;
			&.menu-icon {
				&::after {
					top: 20px;
				}
			}
			a {
				display: inline-block;
				width: 100%;
				@include breakpoint( $tablet ) {
					padding-right: 30px;
				}
			}
		}
	}

}
.nav-collapse {
	transition: all 0.2s ease-in;

	li:hover {
		// background: rgba(0,0,0,.1);
		@include transition(all, 0.3s, ease-in-out);
	}
}

ul.main-navigation {	
	@include breakpoint($tablet){
		text-align: right; 
	}
}

.main-navigation ul {
	
	@include breakpoint( $tablet ) {
		margin: 0;	
		// Allow for search toggle
		padding-right: $search-toggle-width;
	}

	&.sub-menu, 
	&.children {
		@include breakpoint($tablet){
			padding: 0;
			width: 200px;
			background-color: darken( $white, 10% );
			z-index: 2;
			// @include box-shadow();

			li {
				padding: 0;
				width: 100%;
				text-align: left;
				margin: 0;
				border-bottom: 1px solid rgba(0,0,0,0.1);

				a {
					display: block;
					padding: 10px;

					&:hover {

					}
				}

				ul { /* Level 2 sub menu */
					left: -100%;
					top: 0;
				}

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}

	li {

		
		



		


		ul { /* sub menus */
			background-color: #ddd;
			@include breakpoint($tablet){

				right: 0;
				top: 100%;
				visibility: hidden;
				position: absolute; // Overlay other content
				opacity: 0;
			}
			&.menu-item-has-children > a:after,
			&.page_item_has_children > a:after {
				font-family: 'FontAwesome';
				content: '\f0d7'; //  fa-caret-down
				padding-left: 5px;
				opacity: .6;
			}
		}

		&:hover > ul { 
			@include breakpoint($tablet){
				display: block; // Sub-menus appear on hover
				opacity: 1;
				visibility: visible;
				@include transition(all, 0.3s, ease-in-out);
			}
		}
	}
}
	
// Other navigation elements

// Indicators

.indicator {
	display: block;
	width: auto;
	@include center-block;
	@include circle( 2em, transparent );
	border: 1px solid $black;
	&> span {
		display: inline-block;
		height: 100%;
	}
	i {
		display: block;
		@extend %vertical-align;
		font-size: 1.3em;
	}
	&.left {

	}
	&.right {
		&::before {
			content: '\f105';
		}
	}
	&.up {

	}
	&.down {

	}
}












.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	overflow: hidden;
}

.comment-navigation,
.paging-navigation,
.post-navigation {
	.read-more a {
		border: none;
	}
	.nav-previous {
		float: left;
		text-align: left;
		width: 50%;
		.read-more a {
			text-align: left;
			margin: 0;
			i:before {
	  			content: '\f104';
	  		}
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
		.read-more {
			float: right;
			a {
				margin: 0;
			}
		}
	}
}

// Custom menu icons



.no-js {
	// Fallback styles for browsers with JS disabled.
	#search-toggle,
	#nav-toggle {
		display: none; // Don't show the toggles, they won't work.
	}
}