#comments {
	
	// The Comment List
	#list-comments {
	}

	// The Comment Form
	#respond {
		padding: 1rem;
		background: $svg-bg;
		textarea {
			background-color: $white;
			background-image: none;
		}
		input {
			&[type=email],
			&[type=text],
			&[type=url]  {
				background-color: $white;
				background-image: none;
			}
		}	
	}

	#closed-comments {
		@extend #respond;
		p {
			margin: 0;
		}
	}
	ol {
		margin: 0;
		padding: 0;
		list-style: none;

		div.comment {
			padding-bottom: 1.5em;
		}

		li.comment {
			position: relative; /* Allows avatar to be absolutely positioned */
			margin-bottom: 2em;
			@include breakpoint( $tablet ) {
				padding-left: 56px;
			}
			
		}
	}

	#reply-title {
		@extend h2;
	}


}

.comment-author {
	// margin-left: 40px; /* Shift it for avatar, 32px wide */
	padding-bottom: 1.8em;
}

ol.comment-list {

	list-style: none;

	ul {
		padding: 0;
	}

	.avatar {
		@include breakpoint( $tablet ) {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 4px;
			left: 0;
		}

	}
	i {
		&.avatar {
			text-align: center;
			color: $white;
			padding-top: 5px;
			background-color: rgba(0,0,0,.2);
		}
	}

}



.comment-list li.comment {



position: relative;
}

.comment-list .children {
list-style: none;
margin: 0;
}


.comment-author {
	
	.says {
		font-style: italic;
		opacity: .5;
	}

	cite {
		color: #000;
		font-style: normal;
		font-weight: bold;
		margin-bottom: 0;
	}

}
.comment-meta {
	display: block;
	@extend .meta;
	opacity: .5;
}

.comment-content {
	a {
		word-wrap: break-word;
	}


}



/* Comment Form */

.comment-form {

	.form-submit {
		@include clearfix;
	}
}

.says {
	// display: none;
}
