.menu {
   #masthead & {
      // display: none; 
      display: flex;
      @include bp($tablet){
         display: flex;
      }
      li {
         a {
            @extend .button;
            &:link, &:visited {
               border-color: $color-yellow-2;
               background: rgba($kvp-light-blue, .5);
            }
            &:hover, &:active {
               background: rgba($kvp-light-blue, .7);
            }
         }
      }

   }
   li {
      margin-right: 1rem;
      a {
         @extend %typo-alt;
         text-decoration: none;
         &:link, &:visited {
            color: $color-primary;
         }
      }
   }
}