.person {
   // Vars
   $person-image-width: 120px;
   &__image {
      border-radius: 9999px;
      width: $person-image-width;
      overflow: hidden;
      margin: 0 auto;
      img {
         width: $person-image-width;
         margin: 0 auto;
      }
   }
   &__name {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #031480;
       font-family: "Oswald", sans-serif, sans-serif;
      letter-spacing: 0.7px;
      line-height: 20px;
      margin-top: 17px;
      a {
         color: #031480;
         text-decoration: none;
         border-bottom: none;
         &:link, &:visited {
            border-bottom: none;
            text-decoration: none;
         }
         
      }
   }
   &__department {
      text-align: center;
      color: #57ADA5;
      margin-top: 0;
      display: block;
   }
   &__role {
      font-family: "Oswald", sans-serif, sans-serif;
      letter-spacing: 0.7px;
      line-height: 20px;
      color: #57ADA5;
      margin-top: 0;
      display: block;
      text-align: center;
      font-size: 14px;
   }
}