/* =========================================================================
   Forms
   ========================================================================= */
   
   // Comments
   // Sign up i.e. MailChimp, Subscribe by Email
   // Contact i.e. Contact Form 7

%input {
   padding:                         $input-padding;
   width:                           100%;
   border:                          1px solid $black;
   color:                           $black;
}

form {
   border: 1px solid $black;
   padding: 1rem;
   text-align: left; /* Forms always look better left aligned. */
   margin: 0 0 1rem 0;

   select {
      @extend %input;
   }

   &#commentform {
      p {
         width: 100%;
         
      }
   }

   // Form labels

   label {
      margin: 0;
      display: block;
   }
}

// Input

input {
   @extend %input;

   &:focus {
      background-color: $white;
      @include transition(all, 0.3s, ease-in-out);
   }

   &[type=submit] {
      @extend %button;
   }
   
   &[type=reset] {
      @extend %button;
   }

   &[type=checkbox] {
      width: auto;
   }
   &[type=radio] {
      width: auto;
   }

   &[type=password],
   &[type=email],
   &[type=text],
   &[type=url],
   &[type=search]  {

   }

   // File

   &[type=file] {
      // @extend %button;
   }

   // Number

   &[type=number]::-webkit-inner-spin-button {
      /** 
       * Always show the spinner buttons in Chrome.
       * This is default behaviour in FF/Safari.
       */
       opacity: 1
   }
}

// Textarea

textarea {
   @extend input;
}

// Placeholders
::-webkit-input-placeholder {
   color: $grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: $grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $grey; 
}

:-ms-input-placeholder {  
   color: $grey; 
}