/* =========================================================================
   Forms
   ========================================================================= */
	
	// Comments
	// Sign up i.e. MailChimp, Subscribe by Email
	// Contact i.e. Contact Form 7

form {
	text-align: left; /* Forms always look better left aligned. */

	select {
		text-align: center;
		align-items: center;
		@include breakpoint( $mobile ) {
			text-align: left;
			align-items: left;
		}
	}

	&#commentform {
		p {
			width: 100%;
			
		}
	}
	&__mailchimp {
		
	}
}

// Input

input {
	padding: $input-padding;
	border: none;
	width: auto;
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid rgba(0,0,0,.3);
	color:  $black;

	&:focus {
		background-color: rgba(255, 255, 255, .7);
		@include transition(all, 0.3s, ease-in-out);
	}

	&[type=submit] {
		&.search-submit {
			display: none;
		}
	}
	
	&[type=submit],
	&[type=reset] {
		@include button();
		color: $color_button;	
		background: $color_background-button;		
	}

	&[type=password],
	&[type=email],
	&[type=text],
	&[type=url],
	&[type=search]  {
		width: 100%;
	}
	&[type=file] {
		padding: 0;
		background: none;
	}
	&[type=number]::-webkit-inner-spin-button {
		/** 
		 * Always show the spinner buttons in Chrome.
		 * This is default behaviour in FF/Safari.
		 */
	    opacity: 1
	}
}

// Hide the search button


// Textarea

textarea {
	@extend input;
	width: 100%;
}

// Placeholders
::-webkit-input-placeholder {
	color: rgba(0,0,0,.4);
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(0,0,0,.4);  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(0,0,0,.4); 
}

:-ms-input-placeholder {  
	color: rgba(0,0,0,.4); 
}