// Icons

img {
	&.icon {
		@include border-radius( 50% );
		&.icon-small { width: $icon-width-small; height: $icon-width-small;}
		&.icon-medium { width: $icon-width-medium; height: $icon-width-medium;}
		&.icon-large { width: $icon-width-large; height: $icon-width-large;}
	}
}

// SVG icons
.si-icon svg path {
	stroke: $black;
}

.icon {
	&__li {
		width: $icon-w;
		height: $icon-h;
	}
	&__link {
		display: block;
		width: $icon-w;
		height: $icon-h;
	}
	&__i {
		width: $icon-w;
		height: $icon-h;
		display: flex;
		justify-content: center;
		align-items: center;
		&:before {
			display: block;
			font-size: $icon-w;
		}
	}
}
