.menu,
.menu ul {
	@include clearfix;
	display: block;
	@include breakpoint($tablet){
		margin: 0 0 10px 0;
		text-align: right;
		width: 100%;
	}
	li {
		@include breakpoint($tablet){
			display: inline-block;
			margin: 0 1rem 0 0;
			position: relative; // Allow absolute positioning of sub-menus
		}
		&:last-of-type {
			border: none; // Remove border from last list item
			margin: 0 0 0 0;
		}
		&.menu-icon {
			position: relative;
			&::after {
				font-family: 'FontAwesome';
				margin-left: 15px;
				width: 16px;
				position: absolute;	
				right: 10px;
				top: 10px;		
			}
		}
		&.current-menu-item > a,
		&.current_page_parent > a {
			@include breakpoint($tablet){

			}
		}

		&.menu-item-has-children,
		&.page_item_has_children {

			> a { 
				span {
					@include breakpoint( $tablet ) {
						margin-right: 5px;
					}
				}
				&:after {
					@include breakpoint( $tablet ){
						font-family: 'FontAwesome';
						content: '\f0da'; //  fa-caret-right
						// content: '\f107'; //  fa-angle-down
						// content: '\f105'; //  fa-angle-right
						@include transition(all, 0.2s, ease-in-out);
					    text-align: right;
					    display: inline-block;
						opacity: .6;
						padding-left: 7px;
					}
				}
			}
		}

		&.menu-item-has-children:hover > a:after,
		&.page_item_has_children:hover > a:after {
			@include breakpoint( $tablet ){
				transform: rotate(90deg);
				@include transition(all, 0.2s, ease-in-out);
			}
		}
		a {
			padding: 1rem 0;
			display: block;
			text-decoration: none;
			border-bottom: none;
			background-image: none;
			@include breakpoint( $tablet ) {
				padding: 0;
			}
			&:hover, 
			&:active {
				// background-image: $svg-bg;
				background-repeat: repeat;
			}
		}
	}
}
.nav-collapse {
	transition: all 0.2s ease-in;

	li:hover {
		// background: rgba(0,0,0,.1);
		@include transition(all, 0.3s, ease-in-out);
	}
}

ul.main-navigation {	
	/* @include breakpoint($tablet){
		text-align: right; 
	}*/
}

.main-navigation ul {
	
	@include breakpoint( $tablet ) {
		margin: 0;	
		// Allow for search toggle
		// padding-right: $search-toggle-width;
		padding: 0;
	}

	&.sub-menu, 
	&.children {
		@include breakpoint( $tablet ){
			padding: 0;
			width: $width_menu-item;
			z-index: 2;

			li {
				padding: 0;
				width: 100%;
				text-align: left;
				margin: 0;

				a {
					display: block;
					padding: 1rem;

					&:hover {

					}
				}

				ul { /* Level 2 sub menu */
					left: -100%;
					top: 0;
				}

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}

	li {
		ul {
			@include breakpoint($tablet){
				right: 0;
				top: 100%;
				visibility: hidden;
				position: absolute; // Overlay other content
				opacity: 0;
			}
			&.menu-item-has-children > a:after,
			&.page_item_has_children > a:after {
				font-family: 'FontAwesome';
				content: '\f0d7'; //  fa-caret-down
				padding-left: 5px;
				opacity: .6;
			}
		}

		&:hover > ul { 
			@include breakpoint($tablet){
				display: block; // Sub-menus appear on hover
				opacity: 1;
				visibility: visible;
				@include transition(all, 0.3s, ease-in-out);
			}
		}
	}
}