.testimonials {
	ul {
		@extend %no-bullets;
	}
	blockquote {
		padding: 0;
		margin: 0;
	}
}

.reviewer_link {
	display: block; 
	text-align: left;
	&:link,&:visited,&:hover,&:active  {
		@include border-reset;
	}
}
.review_description { @extend .reviewer_link; }
.reviewer_image { 
	@extend .reviewer_link;
	width: $icon-width-large;
	img {
		@include border-radius($icon-width-large);
	} 
}

.testimonials {
	&__list {
		@extend %no-bullets;
	}
	&__item {
		display: block;
	}
}
.testimonial {
	&__quote {
		font-size: 3rem;
	}
	&__attribution {
		.person {
			color: $black;
			&__name {
				font-size: 1.5rem;
			}
		}
	}
}