// Font Stacks

$base-font-stack:    $base-font-family, sans-serif !default;
$alt-font-stack:     $alt-font-family, sans-serif !default;
$alt2-font-stack:    $alt2-font-family, sans-serif !default;

// Header scale
$h6: $base-header-h6-font-size !default;
$h5: calc(#{$ratio-header-scale} * #{$h6}) !default;
$h4: calc(#{$ratio-header-scale} * #{$h5}) !default;
$h3: calc(#{$ratio-header-scale} * #{$h4}) !default;
$h2: calc(#{$ratio-header-scale} * #{$h3}) !default;
$h1: calc(#{$ratio-header-scale} * #{$h2}) !default;
